
.body-top{
    width: 100%;
    border: none;
    margin: auto;
    text-align: center;
}
header{
    padding: 1em;
    color: white;
    background-color: saddlebrown;
    vertical-align: center;
}
.name{
    margin: auto;
    font-size: 6em;
    color: cornsilk;
    font-weight: 500;
}
.logo{
    margin: auto;
    width: 10em;
}
.content{
    height: 120vh;
    background: burlywood;
}
footer{
    background: saddlebrown;
}
.menu{
    background: peru;
}
.btn{
    background: saddlebrown;
    width: 13em;
    font-size: 1.2em;
    height: 85%;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    color: cornsilk;
    border-radius: 10px;
}
.zagolovok{
    font-size: 4em;
}
.about{
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
}
#javaplay{
    float: left;
    padding-left: 5em;
    padding-right: 5em;
    width: 50%;
}
#bedrockplay{
    float: right;
    padding-left: 5em;
    padding-right: 5em;
    width: 50%;
}
.howToPlayZag{
    font-size: 2.5em;
}
.howToPlayZag2{
    font-size: 1.5em;
}
.howToPlayDesc{
    font-size: 1.2em;
}

@media screen and (width < 600px){
    .name{
        margin: auto;
        font-size: 3em;
        color: cornsilk;
        font-weight: 500;
    }
    .logo{
        margin: auto;
        width: 8em;
    }
    .howToPlayZag{
        font-size: 2em;
    }
    .howToPlayZag2{
        font-size: 1em;
    }
    .howToPlayDesc{
        font-size: 0.7em;
    }
}

